*{
    list-style: none;
    padding: 0%;
    margin: 0%;
    color: rgb(236, 236, 236);
}
body{
    background-color: #3A3D60;
}
/* Header */
.header{
    text-align: center;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}
/* List */
.List{
    border-top:2px solid rgb(34, 34, 34);
    padding: 10px 5px;
    transition: all 0.1s;
}
.List ul{
    width: 100%;
    height: 620px;
    overflow-y: scroll;
    position: relative;
    z-index: -10;
}
/* Item */
.List ul li{
    margin-bottom: 15px;
    background-color: #2a2d49;
    box-shadow: 0px 2px 5px 1px rgb(31, 30, 30);
    padding: 10px 5px;
    border-radius: 5px;
    height: 60px;
    position: relative;
}
.List ul li:active{
    background-color: #25273f;
    box-shadow: 0px 0px 2px 1px rgb(31, 30, 30);
}
.List ul li h2{
    font-size: 22px;
}
.List ul li span{
    font-size: 17px;
    position: relative;
    left:20px;
    font-weight: 600;
    color: rgb(145, 145, 145);
    font-family: 'Courier New', Courier, monospace;
}
.List ul li #dot{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 5px;
    left: -20px;
    transition: all 0.1s;
}
.List ul li #dot:active{
    filter: brightness(1.5);
}
.List ul li #Done{
    text-align: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    left: 280px;
    top:10px;
    z-index: -1;
}
.List ul li #Done img{
    transition: all 0.2s;
    width: 60px;
    position: relative;
    z-index: 5;
}
/* Footer */
.Footer{
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 120px;
}
.Footer button{
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 70px;
    border: none;
    transition: all 0.12s;
}
#Add{
    margin: 30px 10px;
    background-color: #5DCB9A;
    
}
#Del{
    float: right;
    right: 10px;
    margin: 30px 0px;
    position: relative;
    background-color: #dd2518;
    z-index: 20;
}
.Footer button img{
    width: 30px;
}
.Footer button:active{
    filter: brightness(0.5);
}
#Add_plan input{
    border: 1px solid grey;
    border-radius: 2px;
    outline: none;
    position: absolute;
    left: 10px;
    background-color: transparent;
}
#Add_plan input:nth-child(1){
    font-size: 24px;
    width: 30px;
    top: 24px;
    color: rgb(236, 236, 236);
    text-align: center;
}
#Add_plan input:nth-child(2){
    font-size: 24px;
    width: 30px;
    top: 24px;
    left: 50px;
    color: rgb(236, 236, 236);
    text-align: center;
}
#Add_plan #demo{
    position: absolute;
    left: 43px;
    top: 20px;
    font-size: 25px;
}
#Add_plan{
    position: absolute;
    border-radius: 10px;
    top: -400px;
    width: 95%;
    height: 30px;
    left: 2.5%;
    text-align: center;
    padding: 20px 2px 25px;
    background-color: #3A3D60;
    box-shadow: 0px 2px 5px 1px rgb(20, 20, 20);
    z-index: 50;
    animation: anim 1s;
}
@keyframes anim {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#Add_plan input:nth-child(4){
    left: 90px;
    font-size: 30px;
    width: 260px;
    color: rgb(145, 145, 145);
    text-align: center;
}
#Add_plan input:nth-child(2)::placeholder{
    text-align: center;
}